@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 80rem;
}

@layer base {
  button {
    cursor: pointer;
  }
  .heading-xl {
    font-family: Onest;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .heading-lg {
    font-family: Onest;
    font-size: 2.25rem;
    line-height: 1.111;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .heading-md {
    font-family: Onest;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .heading-sm {
    font-family: Onest;
    font-size: 1.5rem;
    line-height: 1.333;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .container-padding-x {
    padding-inline: 1.5rem;
  }
  .section-padding-y {
    padding-block: 6rem;
  }
  .section-title-gap-xl {
    gap: 1.5rem;
  }
  .section-title-gap-lg {
    gap: 1.25rem;
  }
  .section-title-gap-md {
    gap: 1.25rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}

@media (max-width: 64rem) {
  .heading-xl {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-lg {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-md {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-sm {
    font-size: 1.5rem;
    line-height: 1.333;
    font-weight: 700;
  }
  .container-padding-x {
    padding-inline: 1.5rem;
  }
  .section-padding-y {
    padding-block: 4rem;
  }
  .section-title-gap-xl {
    gap: 1rem;
  }
  .section-title-gap-lg {
    gap: 1rem;
  }
  .section-title-gap-md {
    gap: 1rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}

@media screen and (max-width: 80rem) {
  .heading-xl {
    font-family: Onest;
    font-weight: 600;
  }
  .heading-lg {
    font-family: Onest;
    font-weight: 600;
  }
  .heading-md {
    font-family: Onest;
    font-weight: 600;
  }
  .heading-sm {
    font-family: Onest;
    font-weight: 600;
  }
}
